<div class="main">
  <div class="mainleft">
    <div class="leftup"><img src="assets/item11.jpg" alt="item1" height="100%" width=100%%></div>
    <div class="leftdown">
    </div>
  </div>
  <div class="mainright">
    <div class="rightup">
      <div class="head">Retro Rose Design Ladies Watch</div>
      <div class="center">
        <div class="cart"><img src="assets/cart.png" alt="cart" height="230px" width="230px"></div>
      </div>
      <div class="price">
        <div class="pricetag">Rs 3370.00</div>
        <div class="buttonbuy"><button routerLink="/mainpage/payment" (click)="onclick()" type="button" class="btn btn-primary">Buy Now</button></div>
      </div>
    </div>
    <div class="rightdown">
      <div class="data">Brand Name: TVK</div>
      <div class="data">Certification: None</div>
      <div class="data">Origin: CN(Origin)</div>
      <div class="data">Movement: Quartz</div>
      <div class="data">Clasp Type: Buckle</div>
      <div class="data">Case Material: Alloy</div>
      <div class="data">Style: Fashion & Casual</div>
      <div class="data">Case Shape: Round</div>
      <div class="data">Feature: Shock Resistant</div>
      <div class="data">Band Material Type: Leather</div>
      <div class="data">Watches women: Watches for girls</div>
      <div class="data"></div>
      <div class="data"></div>
      <div class="data"></div>
    </div>
  </div>
</div>
