<div class="container">
  <div class= "containerleft"><img src="assets/Main%20Backgroud.jpg" alt="Main Image" width="100%" height="100%"></div>
  <div class= "containerright">
  <div class="logo">
    <br>
    <img src="/assets/Logo.2.1.png" alt="logo"  height="200px" width="200px">
  </div>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email"id="email" class="form-control ">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control ">
      </div>
    </div>
  </div>
  <br><br>
  <div class="col-12">
    <div class="form-group">
      <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" routerLink="/mainpage" routerLinkActive="active" type="button">Login</button>
      </div>
    </div>
  </div>
  <br>
  <div class="col-12">
    <div class="form-group">
      <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" routerLink="/newcustomer"type="button">Sign up</button>
      </div>
    </div>
  </div>
  <br>
  <div class="box">
    <div class="bone">Remember me &nbsp; <input type="checkbox"></div>
    <div class="bone x"><h6 class="c">Forgot password?</h6></div>
  </div>
   </div>

</div>



