<div class="main">
  <div class="des">Electric Items</div>
  <div class="itemsa">
    <div class="items">
      <div class="item one" routerLink="/mainpage/item8">
        <div class="up" > <img src="assets/item8.jpg" height="225px" width="225px" alt="Women Hand Bag" ></div>
        <div class="down"><h5 class="txt"> USB Air Cool Humidifier<div class="txt2">Lamp</div></h5></div>
      </div>
      <div class="item one" routerLink="/mainpage/item14">
        <div class="up" > <img src="assets/item14.jpg" height="225px" width="225px" alt="Women Hand Bag" ></div>
        <div class="down"><h5 class="txt"> JBL Wireless Ear Phones </h5></div>
      </div>
    </div>
  </div>
</div>
