<div class="main">
    <div class="maincomponents" routerLink="/mainpage/categoryone">
      <div class="photo one"></div>
      <div class="des">Mens Wear</div>
    </div>
    <div class="maincomponents" routerLink="/mainpage/categorytwo">
      <div class="photo two"></div>
      <div class="des">Ladies Wear</div>
    </div>
    <div class="maincomponents" routerLink="/mainpage/categorythree">
      <div class="photo three"></div>
      <div class="des">Kids Items</div>
    </div>
    <div class="maincomponents" routerLink="/mainpage/categoryfour">
      <div class="photo four"></div>
      <div class="des">Out Door Activities</div>
    </div>
    <div class="maincomponents" routerLink="/mainpage/categoryfive">
      <div class="photo five"></div>
      <div class="des">Electric Items</div>
    </div>
    <div class="maincomponents" routerLink="/mainpage/categorysix">
      <div class="photo six"></div>
      <div class="des">Other Items</div>
    </div>
</div>
