<div class="main">
   <div class="des">Mens Wear</div>
   <div class="itemsa">
     <div class="items">
       <div class="item one" routerLink="/mainpage/item2">
         <div class="up" > <img src="assets/item2.jpg" height="225px" width="225px" alt="Women Hand Bag" ></div>
         <div class="down"><h5 class="txt"> Men & Women Casual T-Shirt </h5></div>
       </div>
       <div class="item one" routerLink="/mainpage/item13">
         <div class="up"> <img src="assets/item13.jpg" height="225px" width="225px" alt="T shirt" ></div>
         <div class="down"><h5 class="txt">&nbsp;Mens Flur Brown Jacket</h5></div>
       </div>
       <div class="item one" routerLink="/mainpage/item15">
         <div class="up"> <img src="assets/item15.jpg" height="225px" width="225px" alt="Phone cover"></div>
         <div class="down"><h5 class="txt">&nbsp;&nbsp;Mens Hawaiian T Shirt</h5></div>
       </div>

<!--       <div class="item one" routerLink="/mainpage/item20">-->
<!--         <div class="up"> <img src="assets/item20.jpg" height="225px" width="225px" alt="Mens Sport Shoe"></div>-->
<!--         <div class="down"><h5 class="txt">Plant Growing Pot Net Cup</h5></div>-->
<!--       </div>-->
     </div>
   </div>
</div>
