<div class="main">
  <div class="des">Other Items</div>
  <div class="itemsa">
    <div class="items">
      <div class="item one" routerLink="/mainpage/item3">
        <div class="up" > <img src="assets/item3.jpg" height="225px" width="225px" alt="Women Hand Bag" ></div>
        <div class="down"><h5 class="txt">I Phone 12 Pro Max Case <div class="txt2">Lamp</div></h5></div>
      </div>
      <div class="item one" routerLink="/mainpage/item5">
        <div class="up" > <img src="assets/item5.jpg" height="225px" width="225px" alt="Women Hand Bag" ></div>
        <div class="down"><h5 class="txt"> Light Weight Running Shoes</h5></div>
      </div>
      <div class="item one" routerLink="/mainpage/item9">
        <div class="up"> <img src="assets/item9.jpg" height="225px" width="225px" alt="Phone cover"></div>
        <div class="down"><h5 class="txt">&nbsp;&nbsp;Boxing Reflex Speed Puch Ball</h5></div>
      </div>
      <div class="item one" routerLink="/mainpage/item12">
        <div class="up"> <img src="assets/item12.jpg" height="225px" width="225px" alt="Ladies watch" ></div>
        <div class="down"><h5 class="txt">Elastic Sports Knee Support <div class="txt2">Compass</div></h5></div>
      </div>
      <div class="item one" routerLink="/mainpage/item20">
        <div class="up"> <img src="assets/item16.jpg" height="225px" width="225px" alt="Mens Sport Shoe"></div>
        <div class="down"><h5 class="txt">Creative Canvas Pencil Case</h5></div>
      </div>
    </div>
  </div>
</div>

