<div class="main">
  <div class="mainleft">
    <div class="leftup"><img src="assets/item8.jpg" alt="item1" height="90%" width=100%%></div>
    <div class="leftdown">
      <div class="leftdownL"><img src="assets/item8.1.jpg" alt="item1" height=280px width="300px"></div>
      <div class="leftdownR"><img src="assets/item8.2.jpg" alt="item1" height=280px width=300px></div>
    </div>
  </div>
  <div class="mainright">
    <div class="rightup">
      <div class="head">USB Air Cool Humidifier</div>
      <div class="center">
        <div class="cart"><img src="assets/cart.png" alt="cart" height="230px" width="230px"></div>
      </div>
      <div class="price">
        <div class="pricetag">Rs 1990.00</div>
        <div class="buttonbuy"><button routerLink="/mainpage/payment" (click)="onclick()" type="button" class="btn btn-primary">Buy Now</button></div>
      </div>
    </div>
    <div class="rightdown">
      <div class="data">Brand Name: Suncolourful</div>
      <div class="data">Power (W): 5w</div>
      <div class="data">Voltage (V): 5V</div>
      <div class="data">Origin: CN(Origin)</div>
      <div class="data">Noise: <36db</div>
      <div class="data">Humidification Method: Ultrasonic</div>
      <div class="data">Function: Aromatherapy</div>
      <div class="data">Shape: Classic Columnar</div>
      <div class="data">Humidity Control: Touch Control</div>
      <div class="data"></div>
      <div class="data"></div>
      <div class="data"></div>
      <div class="data"></div>
      <div class="data"></div>
    </div>
  </div>
</div>
